// ==================================================================================== //
//                                   COLOR PALETTE                                      //
// ==================================================================================== //

$primary      : #4285F4;
$primary2     : #0056c7;
$secondary    : rgb(197, 197, 197);
$info         : #1EAAC8;
$success      : #23C040;
$warning      : #FABE0A;
$danger       : #F53040;
$light        : #F0F0F0;
$white        : #FFF;
$dark         : #1E1E1E;
$black        : #000;