.container {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 3rem;

    &-2 {
        display: flex;

        .inputs {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            &-containers {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 85vw;
                max-width: 550px;
                margin-bottom: 2rem;
                position: relative;
    
                .label {
                    display: flex;
                    flex-direction: column;
                    margin: .5rem;
                    position: relative;
    
                    .input-button {
                        display: flex;
                        order: 1;
                        flex-wrap: wrap;
                    }
                    
                    .input {
                        padding: .3rem .5rem;
                        width: 8rem;
                        outline: 0;
                        border: 1px solid darken($secondary, 20);
                        border-radius: .2rem;

                        &:focus {
                            border-color: $primary;
                        }
                    }
                    
                    .text {
                        order: 0;
                        margin: .1rem 0 .3rem;
                        color: $primary2;
                    }

                    .text-min-error,
                    .text-max-error,
                    .text-result-error {
                        order: 10;
                        position: absolute;
                        font-size: .9rem;
                        top: 3.5rem;
                        width: 10rem;
                    }

                    .button {
                        padding: .3rem .5rem;
                        width: 8rem;
                        order: 3;
                        margin-left: 2rem;
                        cursor: pointer;
                        color: $white;
                        border: 1px solid $primary;
                        background-color: $primary;
                        border-radius: .2rem;
                        outline: 0;
                        transition: all .3s ease;

                        &:active {
                            transform: scale(.9)
                        }
                    }
                }

                .text-interval-error {
                    order: 10;
                    position: absolute;
                    font-size: .9rem;
                    top: 4.2rem;
                    color: $danger;
                }
            }   
        }    
    }
}

@media screen and (max-width: 570px) {
    .container {
        &-2 {

            .inputs {
         
                &-containers { 
                    margin-bottom: 2rem;


                    .label {
                        width: 100%;    

                        .input-button {
                            width: 100%;                           
                        }
                        
                        .input {
                           width: 100%;
                           margin-bottom: 1rem;
                        }

                        .text-min-error,
                        .text-max-error,
                        .text-result-error {
                            width: 100%;
                        }
    
                        .button {
                            width: 100%;
                            margin-left: 0;
                            margin-top: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

// js classes

.input-error {
    border: 1px solid $danger !important;
}

.text-error {
    color: $danger !important;
}

.input-valid {
    border: 1px solid $primary !important;
}

.text-valid {
    color: $primary !important;
}